.main-principal{
	background-image: url(https://media.istockphoto.com/photos/in-the-hospital-closeup-shot-of-the-doctor-does-ultrasound-sonogram-picture-id996271208?b=1&k=20&m=996271208&s=170667a&w=0&h=B68a46sXGIXJ8HalP3s6MOjJbuLSrLbbTu0NPI3J9po=); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   padding-top: 250px;
   padding-bottom: 5px;
   margin-top: 25px;
   margin-bottom: 25px;	
    width: 100%;	
}

.imagenes{ 
	
	background-image: url(https://media.istockphoto.com/photos/surgeon-and-anesthetist-doctor-er-surgical-team-with-medical-clinic-picture-id1072286960?k=20&m=1072286960&s=612x612&w=0&h=xy2hzymNd3UGCEPjKjY9pkBKA_2R_po1nhfC-e-KC60=);
		background-repeat: no-repeat;
  	background-size: 100% 100%;
    background-position: right;

}
.main-servicios{
  background-image: url(https://media.istockphoto.com/photos/ultrasound-examination-in-doctors-office-picture-id614051978?k=20&m=614051978&s=612x612&w=0&h=c4CIqN82F0itjV-bBI-zOb1KMOyQ6s597S9YOxbBgQ8=);
  background-position: center	;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: -webkit-right
}
.resultados{
	background-image: url(https://media.istockphoto.com/photos/accessible-information-is-crucial-for-current-medical-research-picture-id1287845968?b=1&k=20&m=1287845968&s=170667a&w=0&h=B3ucd3Y_G2SqLgz1wjKtEUY6brC0gRAx1bQUypz8nmc=) ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right;
	padding: 150px;
}
