/*mobile*/
@media only screen and (min-width: 359px) and (max-width: 740px){

header {
	font-size: small;

}
footer {
	font-size: small;
}

.titulo__principal{
	color: $colorPrincipal;
	font-size: 35px;
	text-shadow: 2px 1px $colorSombra;
	
	
}
.subtitulo-index {
	font-size: 30px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
}
.texto-imagenes{
	font-size: 20px;
}
.presentacion_imagenes{
	font-size: small;
	flex-wrap: wrap;
	margin: 15px;
	padding: 10px;


}
.parrafo__nosotros{
text-align: center;
font-size: 10px;
}


.h1Staff{ 
   color: $colorPrincipal;
	 font-size: 40px;
	 text-shadow: 2px 1px $colorSombra;
	 
	justify-content: center;
   margin: 15px;
	
}
.titulo_servicios{
 	font-size: 25px;

 }
.parrafo-servicios{
font-size: 15px;
}
.nosotros{
	display: none;
}
.form-control{
	width: 150px;
}
.resultados{
	background-image:none;
	margin: 0px;
	margin-left: 80px;
	padding: 0px;
	font-size: 20px;
}

 }
/*medium*/
@media only screen and (min-width: 741px) and (max-width: 992px) { 
	
.video{
	width: 50%;
} 
.titulo__principal{
	color: $colorPrincipal;
	font-size: 45px;
	text-shadow: 2px 1px $colorSombra;
	
	
}
.subtitulo-index {
	font-size: 35px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
}
.texto-imagenes{
	font-size: 24px;
}
.staff{ 
   color: $colorPrincipal;
	 font-size: 40px;
	 text-shadow: 2px 1px $colorSombra;
	 
	justify-content: center;
	;
}
.titulo_servicios{
 	font-size: 30px;

 }

}



/* DESKTOP*/
@media only screen and (min-width: 993px) { 


.texto-imagenes{
	font-size: 28px;
}
.staff{ 
   color: $colorPrincipal;
	 font-size: 50px;
	 text-shadow: 2px 1px $colorSombra;
	 
	justify-content: center;
	
}
.main-servicios{
  font-size: 29px;
}
}

