
/* DESKTOP*/
@media (max-width: 1200px) { 
	/*uso bg solo para guiarme en los tamaños despues se quitan*/
body {
	background-color: red;
} 


.texto-imagenes{
	font-size: 28px;
}
.staff{ 
   color: #0e5487;
	 font-size: 50px;
	 text-shadow: 2px 1px #072e4a;
	 
	justify-content: center;
	;
}
    
}
/*medium*/
@media (max-width: 992px) { 
	/*uso bg solo para guiarme en los tamaños despues se quitan*/
body{
	background-color: yellow;
	
}	
.video{
	width: 50%;
} 
.titulo__principal{
	color: #0e5487;
	font-size: 45px;
	text-shadow: 2px 1px #072e4a;
	
	
}
.subtitulo-index {
	font-size: 35px;
	color: #0e5487;
	text-shadow: 2px 1px #072e4a;
}
.texto-imagenes{
	font-size: 24px;
}
.staff{ 
   color: #0e5487;
	 font-size: 40px;
	 text-shadow: 2px 1px #072e4a;
	 
	justify-content: center;
	;
}
}
/*mobile*/
@media (max-width: 551px) {
/*uso bg solo para guiarme en los tamaños despues se quitan*/ 
	body {
		background-color: green;
	}
header {
	font-size: small;

}
footer {
	font-size: small;
}

.titulo__principal{
	color: #0e5487;
	font-size: 35px;
	text-shadow: 2px 1px #072e4a;
	
	
}
.subtitulo-index {
	font-size: 30px;
	color: #0e5487;
	text-shadow: 2px 1px #072e4a;
}
.texto-imagenes{
	font-size: 20px;
}
.staff{ 
   color: #0e5487;
	 font-size: 30px;
	 text-shadow: 2px 1px #072e4a;
	 
	justify-content: center;
	;
}
 
}

