/*mobile*/
@media (max-width: 551px) {

header {
	font-size: small;

}
footer {
	font-size: small;
}

.titulo__principal{
	color: $colorPrincipal;
	font-size: 35px;
	text-shadow: 2px 1px $colorSombra;
	
	
}
.subtitulo-index {
	font-size: 30px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
}
.texto-imagenes{
	font-size: 20px;
}
.staff{ 
   color: $colorPrincipal;
	 font-size: 30px;
	 text-shadow: 2px 1px $colorSombra;
	 
	justify-content: center;
	;
}
.titulo_servicios{
 	font-size: 25px;

 }
.parrafo-servicios{
font-size: 15px;
}
 
}
/*medium*/
@media only screen and (min-width: 552px) and (max-width: 992px) { 
	
.video{
	width: 50%;
} 
.titulo__principal{
	color: $colorPrincipal;
	font-size: 45px;
	text-shadow: 2px 1px $colorSombra;
	
	
}
.subtitulo-index {
	font-size: 35px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
}
.texto-imagenes{
	font-size: 24px;
}
.staff{ 
   color: $colorPrincipal;
	 font-size: 40px;
	 text-shadow: 2px 1px $colorSombra;
	 
	justify-content: center;
	;
}
.titulo_servicios{
 	font-size: 30px;

 }
}


/* DESKTOP*/
@media only screen and (min-width: 992px) { 


.texto-imagenes{
	font-size: 28px;
}
.staff{ 
   color: $colorPrincipal;
	 font-size: 50px;
	 text-shadow: 2px 1px $colorSombra;
	 
	justify-content: center;
	;
}
.main-servicios{
  font-size: 29px;
}
    
}
