.titulo__principal{
	color: $colorPrincipal;
	font-size: 50px;
	text-shadow: 2px 1px $colorSombra;
}
.subtitulo-index {
	font-size: 40px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
}