.titulo__principal{
	color: $colorPrincipal;
	font-size: 50px;
	text-shadow: 2px 1px $colorSombra;
}
.subtitulo-index {
	font-size: 40px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
	padding: 35px;
}
.titulo_servicios{
 	font-size: 40px;
 	color: #0e5487;
 	text-shadow: 2px 1px #072e4a;


}
.h1Staff{
	color: $colorPrincipal;
	font-size: 50px;
	text-shadow: 2px 1px $colorSombra;
	margin: 50px;

}