.titulo__principal{
	color: $colorPrincipal;
	font-size: 50px;
	text-shadow: 2px 1px $colorSombra;
}
.subtitulo-index {
	font-size: 40px;
	color: $colorPrincipal;
	text-shadow: 2px 1px $colorSombra;
}
.titulo_servicios{
 	font-size: 40px;
 	color: #0e5487;
 	text-shadow: 2px 1px #072e4a;


}