$colorPrincipal:#0077C8;
$colorSombra:#072e4a;
$hover:#4d4d4d;
$font: 'Source Sans Pro';
$bgGradiantF: linear-gradient(#e6e6e6,#b3b3b3,#808080,#4d4d4d); 
$bgGradiantH: linear-gradient(#4d4d4d,#808080,#b3b3b3,#e6e6e6);
